@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Architects+Daughter&display=swap&family=Titillium+Web:wght@700&display=swap&family=Big+Shoulders+Display&display=swap');

/* @font-face {
  font-family: 'B_Nazanin.ttf';
  src: local('B_Nazanin'), url("/fonts/B_Nazanin.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
 */

html,body{
  width:100%;
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(44, 228, 84);  /* creates padding around scroll thumb */
}
input::-webkit-input-placeholder { /* Edge */
  color: rgb(170, 128, 128);
  letter-spacing:1px;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(170, 128, 128);
  letter-spacing:1px;
}

input::placeholder {
  color: rgb(170, 128, 128);
  letter-spacing:1px;
}
input{
  letter-spacing:1px;
}
.section{
  width:100%;
  height:99vh;
  
}

#welcome_box span {
  opacity: 0;
  transition: all .5s ease;
}

.anime {
  opacity: 1;
}
.anime2{
  opacity: 1;
  transform:translateY(0px)
}

#welcome_box{
  position: absolute;
  top:80px;
  left:200px;
}
#welcome_box:hover{
  cursor:pointer
}
.welcome_heading::selection{
  background-color: yellow;
}
.welcome_heading{
  letter-spacing:4px;
  font-family:Big Shoulders Display;
  line-height:120px;
}
.welcome_heading:first-of-type:hover{
  display: inline;
  background-color:green;
  color:yellow
}
.welcome_heading:nth-child(2):hover{
  display: inline;
  color:#eeeeee;
  background-color: gray;
}
.welcome_heading:last-of-type:hover{
  display:inline;
  background-color: #ff4000;
}


.welcome_footer::selection{
  background-color: red;
}
.welcome_footer{
  text-indent: 55px;
  letter-spacing:4px;
  font-family:Big Shoulders Display;
  /*font-size:2.8em;*/
}
.welcome_footer:hover{
  background-color: yellow;
}
.iconChevronDown{
  position:absolute;
  bottom:60px;
  right:30px;
  background-color: rgb(202, 202, 0);
  border-radius:50%;
  padding:10px;
  border:1px dashed blue;
  /* animation : welcomeWrapperIconAnimation 1s linear 1s normal forwards   */
}
/* @keyframes welcomeWrapperIconAnimation {
  from { top:600px}
  to {top:680px}
} */
/* 
#skills_container{
  position: absolute;
  left:300px;
  top:120px;
} */
.section_box{
  /* width:770px; */
  padding: 5px;
  font-family:Big Shoulders Display;
  font-weight:bold;
  letter-spacing:1px;
}
@keyframes sectionBoxAnimation{
  0%{letter-spacing:1px}
  50%{letter-spacing:30px}
  100%{letter-spacing:1px}
}
.section_box:hover{
  background-color:yellow;
  animation:sectionBoxAnimation 3s linear alternate forwards;
}
#skills_list{
  font-family:"Architects Daughter";
  /* margin-top:20px; */
  /* font-size:2rem; */
  /* list-style-type: none; */
  text-indent:20px;
  /* line-height: 50px; */
  /* width:900px; */
  padding:10px;
  /* margin-left:0; */
}
.section{
  position: relative;
  height:99vh;
}
#personality_container{
  z-index:1000;
}
#personality_heading {
  margin-bottom:100px;
}
.header_routes{
  transition: all .5s ease;
}
.header_routes:hover{
  text-decoration: underline;
}
.header-svg{
  position:absolute;
  top:0;
  
}

.footerImage{
  z-index:1000;
}
#wave{
  position:absolute;
  bottom:0;
  left:0;
  z-index:100;
}
#blob{
  position: absolute;
  top:-190px;
  left:-440px;
  z-index:100;
  opacity:.2
}

.TitlePage{
  opacity: 0;

  transition:all .6s ease;
}

.animateText{
  opacity: 1;
}

.ImageBox{
  opacity:0;
  transition:all .5s ease;
  position:relative;
  right:400px;
  width:350px;
}

@media only screen and (max-width: 768px){
  #welcome_box{
    left:100px;
  }
}

@media only screen and (max-width: 400px){
  .section{
    height:70vh
  }
  #welcome_box{
    top:80px;
    left:20px;
    text-align:center;
  }
  .welcome_heading{
    line-height:80px;
    letter-spacing:2px;
  }
  .welcome_footer{
    text-align:center;
    text-indent:10px;
  }

}
